.sidebar-container {
    box-shadow: 0px 0px 8px #999;
    background-color: #E9ECFF;
    width: 20%;
    height: 100vh;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    position: sticky;
}

.sidebar-link {
    display: block;
    font-family: 'Anek Latin', sans-serif;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    border-radius: 0.5rem;
}

.sidebar-link:hover {
    background-color: #4E548F;
}

.sidebar-link.active {
    background-color: #808CFD;
}
